@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* basic reset */
*,
*::before,
*::after,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generality */
html {
    font-size: 1rem;
}
body, .modal-css {
    text-align: center;
    background: #a6dde6;
    width: 100%;
}

/* header */

.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    position: relative;
    width: 100%;
    padding:1vw;
    display: block;
    align-items: center;
    font-size: 2rem;
    color: white;
    background-color: black;   
}
h1:nth-child(2) {
	position: absolute;
    color: black;
    background-color: white;   
	clip-path: inset(-1% -1% 50% -1%);
}

/* main */
main{
    width: 96%;
    margin: 0% 2% 0.5% 2%;
    gap: 5%;
    display: flex;
    justify-content: center;
    min-height: 86vh;
    position: relative;
}

/* article */
h2 {
    font-size: 1.5rem;

    text-decoration: underline;
}
.star::before {
    content: "\2606";
}

article {
    width: 90%;
    justify-items: center;
}

.note-home, h3 {
margin: 0 2%;
padding: 0.8% 0;
}

.h2-home::before, .h2-home::after {
    content: "\2606";
}

h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #209bba;
}
.article-section {    
    margin-top: 5%;   
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 10px #209bba;
}
.fun-fact {
    padding: 1.8%;
}

.div-border-top {
    border-top: 1px solid #209bba;    
}
.note-home {
    display:flex;
    justify-content: none;
    font-size: 0.8rem;
}
.contribution {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.proposition {
    width:100%;
    border: none;
    background: powderblue;
    padding:2%;
}
.register-form {
    width:100%;
    border: none;
    padding:2%;
}
.div-btn-contribution {
    width:96%;
    margin: 0% auto;
    padding: 2% 0;
}

.input-login {
    border-style: none;
    padding: 1%;
    width: 50%;
}

.note-contribution {
    border: none;
    background: powderblue;
}

/* aside */

.side-menu {
    display: block;
    top:0;
    right:0;
    justify-items: center;
    margin-top:50px;
    position:absolute;
}

nav {
    margin: auto 5%;
}  
ul {
    text-align: left;
    margin: auto 2%;
    list-style: none;
    padding-left:0;
}

li {
    text-align: center;
}

section {
    font-size:1rem;
    margin: 3%;
}
h4 {
    font-size: 1rem;
    padding-top: 3%;
    padding-bottom: 5%;
    border-bottom: double #212529;
    border-top: double #212529;
}
#side-btn {
    text-align:end;
}
.aside-section {
    margin-top: 50px;
}

#sidebar {
    transform: scale(0);
    background-color: #a6dde6;
    box-shadow: 4px 4px 10px #209bba;
    padding: 10%;
}

.menu-open #sidebar {
    opacity: 1;
    transform: scale(1);
}

.form-back-validation {
    color:red;
    margin-bottom: 2%;
}

/* contact form */
.contact-wrapper {
    width:70%;
    padding-top: 0.1%;
    margin: 5% auto 0;
}
.form-group {
    width: 90%;
    margin: 3% auto;

}
.form-control {
    margin-top: 0.5%;
    
}
#no {
    margin-left:5%
}

/* footer */
footer {
    width: 100%;
    padding:1% ;
    background: #42aac3;   
    font-size:0.8rem
}

@media screen and (min-width:800px) {
    main {
        margin-top: 1%;
    }
    h2 {
        margin: 1% 0 2% 0;
    }
    
    article {
        width: 70%;
    }
    .side-menu {
        width: 15%;
        position:initial;
    }
    #sidebar {
        opacity: 1;
        transform: scale(1);
        box-shadow: none;
        padding: 0;
    }

    #side-btn {
        display: none;
    }

}


@media screen and (min-width:1800px) {    
    main {    
        gap: 10%;
    }
    article {
        width: 50%;
    }
    .side-menu {
        width: 10%;
    }
}