{% extends '_aside.html.twig' %}

{% block main %}
<article class="contact"> 
    <form>
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg> Pour nous contacter <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/></svg>
        </h2>
        <div class="justify-content-center article-section contact-wrapper">
            
            <div class="form-group">    
                <label for="Pseudo">Pseudo</label>
                <input type="pseudo" class="form-control" id="pseudo" placeholder="Pseudo" name="name" required>                    
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="email@mail.com" name="email" required>
            </div>
            <div class="form-group">
                <label for="category">Catégorie</label>
                <select id="category" class="form-control" name="category">
                    <option value="default">Choisissez une catégorie</option>
                    <option value="help">Aide</option>
                    <option value="question">Question</option>
                    <option value="remark">Remarque</option>                
                </select>             
            </div>
            <div class="form-group">
                <label for="messge">Message</label>
                <textarea rows="3" class="form-control" id="message" name="message" required></textarea>
            </div>
            <div class="form-group">
                <p>Souhaitez-vous recevoir notre newsletter ?</p>
                <input type="radio" id="yes" name="news-question" value="yes" checked>
                <label for="yes">Oui</label>
                <input type="radio" id="no" name="news-question" value="no">
                <label for="no">Non</label>
            </div>
            <div class="div-btn-contribution div-border-top">
                <button type="submit" class="btn btn-info">Envoyer</button>
            </div>
        </form>                    
    </div>
</article>
{% endblock main %}