{% extends '_postView.html.twig' %}

{% block main %}
    <article> 
        <div id="side-btn">
            <i class="fas fa-bars"></i>
        </div>
        <h2 class="h2-home"> Vos meilleures propositions </h2>
        {% block postView %}
            {{ parent() }}
        {% endblock postView %}
    </article>
{% endblock main %}